<h1>Races</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= link_to race.name, race_runners_path(race) %></td>
        <td><%= race.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
