/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables.bootstrap
 *= require races
 *= require runners
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

table.dataTable thead .sorting { background-image: url(asset-path('sort_both.png',image)); }
table.dataTable thead .sorting_asc { background-image: url(asset-path('sort_asc.png',image)); }
table.dataTable thead .sorting_desc { background-image: url(asset-path('sort_desc.png',image)); }
table.dataTable thead .sorting_asc_disabled { background-image: url(asset-path('sort_asc_disabled.png',image)); }
table.dataTable thead .sorting_desc_disabled { background-image: url(asset-path('sort_desc_disabled.png',image)); }
